# Defines the deployment of the app running in a pod on any worker node
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: jobs-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jobs-api
  template:
    metadata:
      labels:
        app: jobs-api
    spec:
      serviceAccountName: {{ .Release.Name }}-foreman
      volumes:
        # - name: server-config
        #   configMap:
        #     name: {{ .Release.Name }}-config
        # Volume to host job data
        - name: "job-output"
          persistentVolumeClaim:
            claimName: "mmli-clean-job-weights" 
      containers:
        - name: jobs-api
          volumeMounts:
          - name: "job-output"
            mountPath: "/app/results/inputs"
            subPath: "output"
          image: {{ .Values.controller.image }}
          env:
          - name: MARIADB_HOST
{{- if .Values.mariadb.hostname }}
            value: {{ .Value.mariadb.hostname }}
{{ else }}
            value: {{ .Release.Name }}-mariadb.{{ .Release.Namespace }}.svc.cluster.local
{{- end }}

          - name: MARIADB_PASSWORD
{{- if .Values.mariadb.auth.existingSecret }}
            valueFrom:
              secretKeyRef:
                name: {{ .Values.mariadb.auth.existingSecret }}
                key: mariadb-password
{{- else }}
            value: {{ .Values.mariadb.auth.password }}
{{- end }}
          - name: MARIADB_DATABASE
            value: {{ .Values.mariadb.auth.database }}

          - name: MARIADB_USER
            value: {{ .Values.mariadb.auth.username }}

          - name: HCAPTCHA_SECRET
            valueFrom:
              secretKeyRef:
                name: {{ .Values.hcaptcha.auth.existingSecret }}
                key: secret

          ports:
            - containerPort: 8888
          imagePullPolicy: Always
