# Enables the pods in a deployment to be accessible from outside the cluster
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jobs-api
spec:
{{- if .Values.ingress.ingressClassName }}
  ingressClassName: {{ .Values.ingress.ingressClassName }}
{{- end }}
  rules:
  - host: {{ .Values.ingress.hostname | required "required: ingress.hostname (e.g. jobs.localhost)" }}
    http:
      paths:
      - backend:
          service:
            name: jobs-api
            port:
              number: 8888
        path: /
        pathType: ImplementationSpecific
